[run]
omit =
    # old code ... will never gain coverage
    archive/*,
    # offline functions for one time purposes
    scripts/service/ws_re/download/*,
    # potential python virtual env
    venv/*,
    # the runner suite copies test modules temporary to a directory, ignore this files
    scripts/one_time_run_test/*,
    scripts/test_bots_for_scheduler/*
source = .
[report]
exclude_lines =
    pragma: no cover
    pass
