[submodule "tools/wiki_template_handler"]
	path = tools/wiki_template_handler
	url = https://github.com/the-it/wiki_template_handler.git
[submodule "tools/catscan"]
	path = tools/catscan
	url = https://github.com/the-it/catscan.git
