-c requirements.txt

bandit
beautifulsoup4
boto3-stubs[essential]
codecov
coverage
ddt
flake8
freezegun
internetarchive
moto
mypy
nose2
patool
pyfiglet
pylint
pyyaml
requests-mock
safety
testfixtures
types-freezegun
types-requests
