-c requirements.txt

bandit
beautifulsoup4
boto3-stubs[essential]
codecov
coverage
ddt
flake8
freezegun
internetarchive
moto
mypy
patool
pyfiglet
pylint
requests-mock
safety
testfixtures
wrapt-timeout-decorator
