-c requirements.txt

aws-cdk.core
aws-cdk.aws-s3
aws-cdk.aws-lambda
bandit
beautifulsoup4
boto3-stubs[essential]
codecov
coverage
ddt
flake8
freezegun
internetarchive
moto
mypy
patool
pyfiglet
pylint
requests-mock
safety
testfixtures
