bandit
beautifulsoup4
boto3
boto3-stubs[essential]
GitPython
codecov
coverage
ddt
defusedxml
flake8
internetarchive
moto
mypy
nose
oauthlib
patool
pip-tools
pyfiglet
pylint
PyGithub
pywikibot
requests
requests-mock
requests-oauthlib
roman
safety
testfixtures
