name: Integration test

on:
  schedule:
    - cron: '0 0 * * *'  # This runs the workflow every day at midnight UTC

permissions:
  contents: read

jobs:
  integration_test:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4
      - name: Dependencies
        uses: "./.github/actions/dependencies"
      - name: integration test
        env:
          WS_REAL_DATA: 1
          PYTHONUNBUFFERED: 1
        run: uv run nose2 -v --with-coverage -s service/ws_re/integration_test
        if: always()