name: Wikitests

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  wikitest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Dependencies
        uses: "./.github/actions/dependencies"
      - name: wikitest
        env:
          WS_REAL_WIKI: 1
          PYTHONUNBUFFERED: 1
        run: uv run nose2 -v --with-coverage service tools && uv run coverage xml
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true
          flags: wiki
        if: always()